<header class="header">
    <div class="logo">
      <img src="assets\Images\MediCare.jpg" alt="MediLife Logo">
    </div>
    <nav class="nav-links">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/home/about" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/home/services" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/home/contact" routerLinkActive="active">Contact Us</a></li>
        <li><a routerLink="/auth/login" class="btn-login">Login</a></li>
      </ul>
    </nav>
  </header>
  